@{
    ViewData["Title"] = "Edit User Page";
}

@model PizzaShop.Entity.ViewModel.EdituserViewModel

<div class="row shadow bg-white mx-5 p-4 rounded">
    <div class="col-lg-12 d-flex justify-content-between">
        <div>
            <h2>Edit User</h2>
        </div>
        <div>
            <div class="input-group">
                <div class="d-flex align-items-center">
                    <div class="border">
                        <a asp-controller="Users" asp-action="Users" class="btn" role="button">
                            <i class="bi bi-chevron-left"></i>
                            <span>Back</span>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form enctype="multipart/form-data" asp-action="EditUser" asp-controller="Users">
        <div class=" mt-3  p-3 bg-white rounded">
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="fname" asp-for="FirstName" placeholder="FirstName">
                        <label asp-for="FirstName">FirstName</label>
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="LastName" id="lname" placeholder="LastName">
                        <label asp-for="LastName">LastName</label>
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Username" id="uname" placeholder="Username">
                        <label asp-for="Username">Username</label>
                        <span class="text-danger" asp-validation-for="Username"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <select class="form-select" id="roleSelect" aria-label="Floating label select example"
                            asp-for="Role">

                        </select>
                        <label for="roleSelect">Role</label>
                        <span class="text-danger" asp-validation-for="Role"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" asp-for="Email" id="floatingInput"
                            placeholder="name@example.com">
                        <label asp-for="Email">Email address</label>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <select class="form-select" id="statusSelect" aria-label="Floating label select example"
                            asp-for="Status">
                            <option value="True">Active</option>
                            <option value="False">InActive</option>
                        </select>
                        <label for="statusSelect">Status</label>
                        <span class="text-danger" asp-validation-for="Status"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div
                    class="rounded col-12 form-control pt-4 pb-4 d-flex align-items-center justify-content-center border border-dotted border-5">


                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h3><i class="bi bi-cloud-arrow-up"></i></h3>
                        <label for="formfile" class="form-label">
                            <img src="images/cloud-upload-icon.svg" alt="">Browse Files
                        </label>
                        <input type="file" class="form-control d-none" id="formfile">
                        <span class="text-danger" asp-validation-for="Imgurl"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="countrySelect" aria-label="Floating label select example"
                            asp-for="Country">
                        </select>
                        <label for="countrySelect">Country</label>
                        <span class="text-danger" asp-validation-for="Country"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="stateSelect" aria-label="Floating label select example"
                            asp-for="State">
                        </select>
                        <label for="stateSelect">State</label>
                        <span class="text-danger" asp-validation-for="State"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="citySelect" aria-label="Floating label select example"
                            asp-for="City">
                        </select>
                        <label for="citySelect">City</label>
                        <span class="text-danger" asp-validation-for="City"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="ZipCode" id="fname" placeholder="Zipcode">
                        <label asp-for="ZipCode">Zipcode</label>
                        <span class="text-danger" asp-validation-for="ZipCode"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Address" id="fname" placeholder="Address">
                        <label asp-for="Address">Address</label>
                        <span class="text-danger" asp-validation-for="Address"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Phone" id="fname" placeholder="Phone">
                        <label asp-for="Phone">Phone</label>
                        <span class="text-danger" asp-validation-for="Phone"></span>
                    </div>
                </div>
            </div>

            <div>
                <button type="submit"  class="p-2 bg-primary text-white rounded">Update User</button>
                <button class="p-2 rounded" asp-controller="Users" asp-action="Users">Cancel</button>
            </div>
        </div>
    </form>
</div>

@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js"></script> *@

<script>
        @* document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        const updateButton = form.querySelector('button[type="submit"]');
        const allInputs = form.querySelectorAll('input, select');
        
        let isFormChanged = false;

        // Disable update button initially
        updateButton.disabled = true;

        // Keep a snapshot of the initial values for comparison
        const initialFormState = Array.from(allInputs).map((field) => {
            debugger
            if (field.type === 'file') return null; // for file inputs we skip comparison
            return field.type === 'checkbox' || field.type === 'radio'
                ? field.checked
                : field.value;
        });

        // Enable button if any input changes
        allInputs.forEach((input, index) => {
            debugger;
            input.addEventListener('input', function () {
                isFormChanged = Array.from(allInputs).some((field, idx) => {
                    if (field.type === 'file') return false; // Skip file comparison
                    const fieldValue = field.type === 'checkbox' || field.type === 'radio'
                        ? field.checked
                        : field.value;
                    return fieldValue !== initialFormState[idx];
                });

                updateButton.disabled = !isFormChanged;
            });
        });
    }); *@

    $(document).ready(function () {

        $.ajax({
            url: '/Users/GetRoles',
            type: 'GET',
            success: function (data) {
                console.log(data);
                
                $.each(data, function (index, Role) {
                    if (Role.roleId == @Model.Role) {
                        $('#roleSelect').append(`<option value="${Role.roleId}" selected>${Role.roleName}</option>`);
                    }
                    else
                    $('#roleSelect').append(`<option value="${Role.roleId}">${Role.roleName}</option>`);
                });
            }
        });

        $.ajax({
            type: 'GET',
            url: '/Users/GetCountries',
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select a country</option>';
                for (var i = 0; i < data.length; i++) {
                    if (data[i].countryId == @Model.Country) {
                        s += '<option value="' + data[i].countryId + '" selected>' + data[i].countryName + '</option>';
                    }
                    else {
                        s += '<option value="' + data[i].countryId + '">' + data[i].countryName + '</option>';
                    }
                }
                $("#countrySelect").html(s);
            }
        });
        $.ajax({
            type: 'GET',
            url: '/Users/GetStates',
            data: { CountryId: @Model.Country },
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select a state</option>';
                for (var i = 0; i < data.length; i++) {
                    if (data[i].stateId == @Model.State) {
                        s += '<option value="' + data[i].stateId + '" selected>' + data[i].stateName + '</option>';
                    }
                    else {
                        s += '<option value="' + data[i].stateId + '">' + data[i].stateName + '</option>';
                    }
                }
                $("#stateSelect").html(s);
            }
        });
        $.ajax({
            type: 'GET',
            url: '/Users/GetCities',
            data: { stateId: @Model.State },
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select a city</option>';
                for (var i = 0; i < data.length; i++) {
                    if (data[i].cityId == @Model.City) {
                        s += '<option value="' + data[i].cityId + '" selected>' + data[i].cityName + '</option>';
                    }
                    else {
                        s += '<option value="' + data[i].cityId + '">' + data[i].cityName + '</option>';
                    }
                }
                $("#citySelect").html(s);
            }
        });
    });

    $('#countrySelect').change(function () {
        var countryId = $(this).val();
        $('#stateSelect').empty().append('<option selected>Please select a city</option>').prop('disabled', false);
        $('#citySelect').empty().append('<option selected>Please select a city</option>').prop('disabled', false);
        $.ajax({
            type: 'GET',
            url: '/Users/GetStates',
            data: { CountryId: countryId },
            success: function (data) {
             
                console.log(data);
                var s = '<option value="-1">Please select a state</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].stateId + '">' + data[i].stateName + '</option>';
                }
                $("#stateSelect").html(s);
            }
        });
    });

    $('#stateSelect').change(function () {
        var stateId = $(this).val();
        $('#citySelect').empty().append('<option selected>Please select a city</option>').prop('disabled', false);
            $.ajax({
                type: 'GET',
                url: '/Users/GetCities',
                data: { stateId: stateId },
                success: function (data) {
                    var s = '<option value="-1">Please select a city</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].cityId + '">' + data[i].cityName + '</option>';
                    }
                    $("#citySelect").html(s);
                }
            });
    });
</script>
