@model PizzaShop.Entity.ViewModel.MenuViewModel

<style>
    #scrollbar {
        height: 550px;
        overflow: auto;
    }

    #category-items {
        font-size: 20px;
        color: black;
    }

    #category-items #buttons{
        visibility: hidden;
    }

    #category-items:hover #buttons{
        transition: all 0.8s ease-in-out;
        visibility: visible;
    }

</style>
 
<aside class=" d-block "> <!-- style="width: 240px;" -->
    <div class=" pt-2 d-flex align-items-center justify-content-between mx-4 mb-2">
        <h4 id="category-header">Category</h4>     
        <a class="btn blue-outline d-flex align-items-center" data-bs-target="#staticBackdrop"
            data-bs-toggle="modal">
            <h3><i class="bi bi-plus"></i></h3>
        </a>
    </div>
    <div id="scrollbar">
        <ul class="tab-nav d-flex flex-column gap-3 p-3 sidebar-elements categories-sidebar" id="myTab" role="tablist"
        style="list-style-type: none;">
        @foreach (var categoryitem in Model.CategoriesList)
        {   
            <a href="#" class="gap-2 d-flex align-items-center  justify-content-between text-decoration-none border"
                id="category-items">
                <div class="d-flex align-items-center">
                    <span>@categoryitem.CategoryName</span>
                </div>
                <div class="d-flex align-items-center p-0 m-0 " id="buttons">
                    <button class="btn  p-0" data-bs-toggle="modal"
                        data-bs-target="#editmodal" onclick="openeditModal(@categoryitem.CategoryId,'@categoryitem.CategoryName','@categoryitem.Description')"><i class="bi bi-pen h5 "></i></button>
                    <button type="button" class="border-0 p-0 ms-2  bg-white" data-bs-toggle="modal"
                        data-bs-target="#delete" onclick="opendeleteModal(@categoryitem.CategoryId,'@categoryitem.CategoryName')">
                        <h4><i class="bi bi-trash3"></i></h4>
                    </button>
                </div>
            </a>
        }
        </ul>
       
    </div>
</aside>

        
@* Model Start *@

<form method="post" asp-action="AddCategory" asp-controller="Menu" >
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Add Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
           
                <div class="modal-body"> 
                    <div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" required placeholder="Name" asp-for="CategoryName">
                            <label for="floatingInput">Name*</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here"
                                id="floatingTextarea" asp-for="Description"></textarea>
                            <label for="floatingTextarea">Description</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="btnsubmit" class="btn btn-primary" >Yes</button>
                </div>
            </div>               
        </div>
    </div>
</form>

<form method="post" asp-action="DeleteCategory" asp-controller="Menu">
    <div class="modal fade" id="delete" data-bs-backdrop="delete" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="deleteBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteBackdropLabel">
                        Delete Confirmation</h1>
                        <input type="hidden" id="catogryid" name="catogryid" value="">
                        <input type="hidden" id="catogryname" name="catogryname" value="">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center flex-column ">
                    <div>
                        <img src="~/images/toppng.com-warning-icon-2400x2400.png" height="50px" width="50px" alt="">
                    </div>
                    <div>
                        Are you sure you want to delete <span id="categorynametext"></span>?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="EditCategory" asp-controller="Menu" >
    <div class="modal fade" id="editmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        <input type="text" id="category_id"  asp-for="CategoryId" >
                        @* <input type="text" id="category_name" name="category_name" value="" asp-for="CategoryName"> *@
                        @* <input type="text" id="description" name="description" value=""> *@
                    Edit Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
           
                <div class="modal-body"> 
                    <div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="category_name"   asp-for="CategoryName">
                            @* <input type="text" class="form-control" id="categorynewname" name="category_name" required placeholder="Name" asp-for="CategoryName"> *@
                            <label for="categoryname">Name*</label>
                        </div>
                        <div class="form-floating">
                            <textarea type="text" id="description" class="form-control" asp-for="Description"></textarea>
                            @* <textarea class="form-control" placeholder="Leave a comment here" id="newdescription" asp-for="Description"></textarea> *@
                            <label for="description">Description</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="btnsubmit" class="btn btn-primary" >Yes</button>
                </div>
            </div>               
        </div>
    </div>
</form>

 
@* Model End *@

<Script type="text/javascript"> 

    function opendeleteModal(CategoryId, CategoryName){

        document.getElementById('catogryid').value = CategoryId;
        document.getElementById('catogryname').value = CategoryName;
        document.getElementById('categorynametext').innerHTML = `${CategoryName}`;
    }

    function openeditModal(CategoryId, CategoryName, Description){
        
        document.getElementById('category_id').value = CategoryId;
        document.getElementById('category_name').value = CategoryName;
        document.getElementById('description').value = Description;

        @* var updatemodel = new bootstrap.Modal(document.getElementById(editmodal));

        updatemodel.show(); *@
    }




</Script>