@model PizzaShop.Entity.ViewModel.MenuViewModel

<style>
    #scrollbar {
        height: 550px;
        overflow: auto;
    }

    #category-items {
        font-size: 20px;
        color: black;
    }

    #category-items #buttons{
        visibility: hidden;
    }

    #category-items:hover #buttons{
        transition: all 0.8s ease-in-out;
        visibility: visible;
    }

</style>
 
<aside class=" d-block  rounded "> <!-- style="width: 240px;" -->
    <div class=" pt-2 d-flex align-items-center justify-content-between mx-4 mb-2">
        <h4 id="category-header">Category</h4>     
        <a class="btn blue-outline d-flex align-items-center" data-bs-target="#staticBackdrop"
            data-bs-toggle="modal">
            <h3><i class="bi bi-plus"></i></h3>
        </a>
    </div>
    <div id="scrollbar">
        <ul class="tab-nav d-flex flex-column gap-3 p-3" id="myTab" role="tablist" style="list-style-type: none;">
        @foreach (var categoryItem in Model.CategoriesList)
        {   
            <a class="btn gap-2 d-flex align-items-center justify-content-between text-decoration-none border category-btn"id="category-items" data-category-id="@categoryItem.CategoryId" @(categoryItem == Model.CategoriesList.First() ? "style='background-color: #e9ecef;'" : "")>
                <div class="d-flex align-items-center">
                    <span>@categoryItem.CategoryName</span>
                </div>
                <div class="d-flex align-items-center p-0 m-0 " id="buttons">
                    <button class="btn  p-0" data-bs-toggle="modal"
                        data-bs-target="#editmodal" onclick="openEditModal(@categoryItem.CategoryId,'@categoryItem.CategoryName','@categoryItem.Description')"><i class="bi bi-pen h5 "></i></button>
                    <button type="button" class="border-0 p-0 ms-2  bg-white" data-bs-toggle="modal" data-bs-target="#delete" onclick="openDeleteModal(@categoryItem.CategoryId,'@categoryItem.CategoryName')">
                        <h4><i class="bi bi-trash3"></i></h4>
                    </button>
                </div>
            </a>
        }
        </ul>
       
    </div>
</aside>

<div class="flex-grow-1 p-3 overflow-auto">
    <!-- header of table  -->
    <div class="d-flex align-items-center gap-2">
        <div id="item-modifier-toggle">
            <button class="btn" style="box-shadow: none;">
                <img src="img/menu-black.svg" height="30px" alt="">
            </button>
        </div>
        <h1 id="header">Items</h1>
    </div>
    <!-- search-add-item section  -->
    <div class="d-flex align-items-center justify-content-end">
        <div class="search-div">
            <input class="me-2 input-search px-2 " type="search" placeholder="Search">
            <span class="search-icon">
                <i class="bi bi-search"></i>
            </span>
        </div>
        <a href="" class="btn border d-flex justify-content-center " data-bs-target="#model-delete"
            data-bs-toggle="modal">
            <i class="bi bi-trash h5"></i></a>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
            <i class="btn bg-primary bi bi-plus-square text-white">New Item</i>
        </button>
    </div>
    <!-- finish search-add-item section -->
    <!-- table  -->
    <div class="table-responsive">
        <table class="table my-table">
            <thead>
                <tr>
                    <th>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="selectAll">
                        </div>
                    </th>
                    <th scope="col">Name</th>
                    @* <th scope="col">ItemType</th> *@
                    <th scope="col">Rate</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Available</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="itemsTable">
                @foreach (var item in Model.ItemsList){
                    <tr data-category-id="@item.CategoryId">
                        <td>
                            <input class="form-check-input" type="checkbox"  id="@item.CategoryItemId">
                        </td>
                        <td>@item.ItemName</td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td>@item.IsAvailable</td>
                        @* <td>Deletebutton</td> *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- pagination  -->
                        
    <!-- finish pagination  -->
</div>

        
@* Model Start *@

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" asp-action="AddCategory" asp-controller="Menu" >
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Add Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
           
                <div class="modal-body"> 
                    <div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" required placeholder="Name" asp-for="CategoryName">
                            <label for="floatingInput">Name*</label>

                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here"
                                id="floatingTextarea" asp-for="Description"></textarea>
                            <label for="floatingTextarea">Description</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="btnsubmit" class="btn btn-primary" >Yes</button>
                </div>
                </form>
            </div>               
        </div>
    </div>

<form method="post" asp-action="DeleteCategory" asp-controller="Menu">

    <input type="hidden" id="deleteCategoryId" asp-for="CategoryId">
    
    <div class="modal fade" id="delete" data-bs-backdrop="delete" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="deleteBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteBackdropLabel">
                        Delete Confirmation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center flex-column ">
                    <div>
                        <img src="~/images/toppng.com-warning-icon-2400x2400.png" height="50px" width="50px" alt="">
                        <p > Are you sure you want to delete <span id="deleteCategoryName"></span>?</p>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="EditCategory" asp-controller="Menu">
    <input type="hidden" asp-for="CategoryId" id="editCategoryId">

    <div class="modal fade" id="editmodal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Edit Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="CategoryName" id="editCategoryName" required>
                        <label for="editCategoryName">Name*</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" asp-for="Description" id="editCategoryDescription"></textarea>
                        <label for="editCategoryDescription">Description</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>


    
    <div class="modal fade" id="staticBackdrop2"
        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div
            class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            <form ap-action="" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Add New Menu Item</h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <select class="form-select"
                                                id="category"
                                                aria-label="Floating label select example" asp-for="Category">
                                            </select>
                                            <label
                                                for="category">Categories*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text"
                                                class="form-control"
                                                id="floatingInput6"
                                                placeholder="Name*">
                                            <label
                                                for="floatingInput6">Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <select class="form-select"
                                                id="itemtype"
                                                aria-label="Floating label select example">
                                            </select>
                                            <label for="itemtype">Item
                                                Type*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text"
                                                class="form-control"
                                                id="rate" placeholder="Rate"
                                                value="0">
                                            <label for="rate">Rate*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text"
                                                class="form-control"
                                                id="quantity"
                                                placeholder="Quantity"
                                                value="0">
                                            <label
                                                for="quantity">Quantity*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <select class="form-select"
                                                id="itemtype"
                                                aria-label="Floating label select example">
                                                
                                            </select>
                                            <label for="itemtype">Item
                                                Type*</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div
                                        class="col d-flex align-items-center justify-content-center">
                                        <h5>
                                            <div
                                                class="form-check form-switch">
                                                <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    role="switch"
                                                    id="available">
                                                <label
                                                    class="form-check-label"
                                                    for="available">Available</label>
                                            </div>
                    
                                    </div>
                                    <div
                                        class="col d-flex align-items-center justify-content-center">
                                        <h5>
                                            <div
                                                class="form-check form-switch">
                                                <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    role="switch" id="tax">
                                                <label
                                                    class="form-check-label"
                                                    for="tax">Default
                                                    Tax</label>
                                            </div>
                                        </h5>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text"
                                                class="form-control"
                                                id="taxpercentage"
                                                placeholder="Tax Percentage">
                                            <label for="taxpercentage">Tax
                                                Percentage </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text"
                                                class="form-control"
                                                id="code"
                                                placeholder="Short Code">
                                            <label for="code">Short
                                                Code</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-floating">
                                        <textarea class="form-control"
                                            placeholder="Leave a comment here"
                                            id="floatingTextarea2"
                                            style="height: 100px"></textarea>
                                        <label
                                            for="floatingTextarea2">Description</label>
                                    </div>
                                </div>
                                <div class="row ms-1">
                                    <h6>Upload Image</h6>
                                    <div class="border form-control ">
                                        <label for="formfile"
                                            class="form-label d-flex gap-2 justify-content-center align-items-center pt-3 ">
                                            <h3><i
                                                    class="bi bi-cloud-arrow-up-fill"></i>
                                            </h3>
                                            <img src="images/cloud-upload-icon.svg"
                                                alt="">
                                            <span class="pb-2">
                                                Drag and Drop or Browse
                                                Files
                                            </span>
                                        </label>
                                        <input type="file"
                                            class="form-control d-none"
                                            id="formfile">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 pt-3"
                                style="background-color: antiquewhite;">
                                <div>
                                    <select class="form-select"
                                        aria-label="Default select example">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        data-bs-dismiss="modal">Save</button>
                    <button type="button"
                        class="btn btn-white border border-primary"
                        data-bs-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>

 
@* Model End *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
@* 
<Script type="text/javascript"> 

    function openDeleteModal(CategoryId, CategoryName){
        debugger;
        document.getElementById('deleteCategoryId').value = CategoryId;
        document.getElementById('deleteCategoryName').textContent = CategoryName;

        var deleteModel = new bootstrap.Model(document.getElementById('delete'));
        deleteModel.show();
    }

    function openEditModal(CategoryId, CategoryName, Description){
        document.getElementById('editCategoryId').value = CategoryId;
        document.getElementById('editCategoryName').value = CategoryName;
        document.getElementById('editCategoryDescription').textContent = Description;

        var editModel = new bootstrap.Model(document.getElementById('editmodal'));
        editModel.show();
    }


    document.addEventListener("DOMContentLoaded", function () 
    {
        const categoryButtons = document.querySelectorAll(".category-btn"); 
        const itemsTableRows = document.querySelectorAll("#itemsTable tr");

    categoryButtons.forEach(button => 
    {
        button.addEventListener("click", function (e) 
        {
            e.preventDefault();
            const selectedCategoryId = this.getAttribute("data-category-id");

            itemsTableRows.forEach(row => {
                if (row.getAttribute("data-category-id") === selectedCategoryId) {
                    row.style.display = "table-row";
                } else {
                    row.style.display = "none";
                }
            });
        });
    });
});

       
</Script> *@

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    
    $(document).ready(function () 
    {
        function openDeleteModal(CategoryId, CategoryName) {
            $("#deleteCategoryId").val(CategoryId);
            $("#deleteCategoryName").text(CategoryName);
            var deleteModel = new bootstrap.Model($("#delete"));
            deleteModel.show();
        }

        function openEditModal(CategoryId, CategoryName, Description) {
            $("#editCategoryId").val(CategoryId);
            $("#editCategoryName").val(CategoryName);
            $("#editCategoryDescription").text(Description);
            var editModel = new bootstrap.Model($("#editmodal"));
            editModel.show();
        }

        
        const categoryButtons = $(".category-btn");
        const itemsTableRows = $("#itemsTable tr");

        if(categoryButtons > 0){
            const firstCategory = firstCategory.data();
            firstCategory.css("background-color","#e9ecef");

            const firstCategoryId = firstCategory.data("category-id");

            itemsTableRows.each(function () {
                if($(this).data("category-id") === firstCategoryId){
                    $(this).show();
                }else{
                    $(this).hide();
                    
                }
            });

        }

        categoryButtons.on("click", function (e) {
            e.preventDefault();

            categoryButtons.removeClass("active").css("background-color","");

            $(this).addClass("active").css("background-color","#e9ecef");
            
            const selectedCategoryId = $(this).data("category-id");

            itemsTableRows.each(function () {
                if ($(this).data("category-id") === selectedCategoryId) {
                    $(this).css("display", "table-row");
                } else {
                    $(this).css("display", "none");
                }
            });
        });

        $.ajax({
            type: 'GET',
            url: '/Menu/GetCategory',
            success: function (data) {
                debugger;
                console.log(data);
                var s = '<option value="-1">Please select a country</option>';
                for (var i = 0; i < data.length; i++) { 
                    s += '<option value="' + data[i].categoryId + '">' + data[i].categoryName + '</option>'
                }
                $("#category").html(s);
            }
        });

    });
</script>