@{
    ViewData["Title"] = "UserList Page";
}


@model PizzaShop.Entity.ViewModel.UserlistViewModel
<div class="shadow bg-white mx-5 p-4 rounded ">

    <!-- user nav -->
    <div class="d-flex  justify-content-between mb-4">
        <div class="m-1">
            <h1> Users</h1>
        </div>
        <div class="d-flex align-items-center justify-content-center gap-3 m-2" id="addUserBtn">
            <form method="post">
                <div id="has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input class="form-control " type="search" placeholder="Search" name="search" id="search"
                        aria-label="Search">
                </div>
            </form>
            <a class="btn btn-primary" asp-action="AddUser" asp-controller="User">
                <div class="d-flex align-items-center justify-content-center">
                    <i class="bi bi-plus-lg"></i>
                    Add User
                </div>
            </a>
        </div>
    </div>

    <!--user list-->
    <div class="">
        <div class="table-responsive p-4 tile ">
            <table class="table table-bordered align-middle ">
                <thead>
                    <tr>
                        <th scope="col d-flex">
                            Name
                            <!-- for small screen remove btn-->
                            <button class="btn p-0"><img src="images/down-arrow-svgrepo-com.svg" alt=""
                                    width="20px"></button>
                            <button class="btn p-0"><img src="images/up-arrow-svgrepo-com.svg" alt=""
                                    width="20px"></button>
                        </th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col d-flex">
                            Role
                            <!-- for small screen remove btn-->
                            <button class="btn p-0"><img src="images/down-arrow-svgrepo-com.svg" alt=""
                                    width="20px"></button>
                            <button class="btn p-0"><img src="images/up-arrow-svgrepo-com.svg" alt=""
                                    width="20px"></button>
                        </th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.users)
                    {
                        <tr>
                            <td>
                                <div class="d-flex">
                                    @* <img src="@item.ProfileImg" class="rounded-circle" alt="pic" width="40px"> *@
                                    <p>@item.FirstName @item.LastName</p>
                                </div>

                            </td>
                            <td>@item.Email</td>

                            <td>@item.Phone</td>
                            <td>@item.RoleName</td>
                            <td class="">
                                @if (@item.Status == true)
                                {
                                    <span class="btn btn-sm bg-success text-white">Active</span>
                                }
                                else
                                {
                                    <span class="btn btn-sm bg-danger text-white">Inactive</span>
                                }
                            </td>
                            <td class="d-flex">
                                <form asp-action="Edituser" asp-controller="User" method="get">
                                    <input type="hidden" name="email" value="@item.Email">
                                    <input type="hidden" name="Name" value="@item.FirstName">
                                    <button type="submit" class="btn" id="editBtn">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </form>
                                <button type="button" class="btn openmodel" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-id="@item.Email,@item.FirstName" id="deleteBtn">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div aria-label="Page navigation example" class="d-flex justify-content-end">
                <form asp-action="Users" asp-controller="User" method="get">
                    <ul class="pagination m-auto f-flex align-items-center ">
                        <li class="page-item m-2">
                            <span>User per page</span>
                            <select name="pagesize" id="pagesize" class="">
                                <option asp-route-pagesize=3 id="opt3">3</option>
                                <option asp-route-pagesize=5 id="opt5">5</option>
                                <option asp-route-pagesize=10 id="opt10">10</option>
                                <option asp-route-pagesize=15 id=opt15>15</option>
                            </select>
                        </li>
                        <li class=" page-item m-2">
                            Showing @ViewBag.page of @ViewBag.totalpages
                        </li>

                        <!-- Previous Button -->
                        <li class="page-item m-2 pt-3">
                            <p class="page-link" aria-label="Previous" id="previous_page">
                                @* <span aria-hidden="true">&laquo;</span> *@
                                <i class="fa-solid fa-backward" aria-hidden="true"></i>
                            </p>
                        </li>
                        <li class="page-item m-2 pt-3">
                            <p class="page-link" aria-label="Next" id="next_page">
                                @* <span aria-hidden="true">&raquo;</span> *@
                                <i class="fa-solid fa-forward" aria-hidden="true"></i>
                            </p>
                        </li>

                        @*
                        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                    <a class="page-link text-decoration-none @(currentPage == 1 ? "text-muted" : "text-body")"
                        href="@Url.Action("Index", new { page = currentPage - 1, pageSize })"><i
                            class="bi bi-caret-left-fill"></i></a>
                </li>*@
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="DeleteUser" asp-controller="User" method="post">
                <div class="modal-body text-center d-block">
                    <img src="~/images/toppng.com-warning-icon-2400x2400.png" alt="warning" width="50px">
                    <p>Are you sure you want to Delete this User ?</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <input name="email" id="model-email" hidden>
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{

    <script>
        $(document).ready(function () {

            // Set selected option from ViewBag.pageSize
            let opt_value = '@ViewBag.pagesize';
            if (opt_value == 3) {
                $('#opt3').attr('selected', 'selected');
            } else if (opt_value == 5) {
                $('#opt5').attr('selected', 'selected');
            } else if (opt_value == 10) {
                $('#opt10').attr('selected', 'selected');
            } else if (opt_value == 15) {
                $('#opt15').attr('selected', 'selected');
            }

            // Previous Page Click Handler
            let currentPage = @ViewBag.page;
            let totalPages = @ViewBag.totalpages;

            if (currentPage > 1) {
                $('#previous_page').on('click', function () {
                    currentPage--;
                    $(this).closest('form')
                        .append('<input type="hidden" name="page" value="' + currentPage + '">')
                        .submit();
                });
            }

            // Next Page Click Handler
            if (currentPage < totalPages) {
                $('#next_page').on('click', function () {
                    currentPage++;
                    $(this).closest('form')
                        .append('<input type="hidden" name="page" value="' + currentPage + '">')
                        .submit();
                });
            }

            // Pagesize Dropdown Change Event
            $('#pagesize').change(function () {
                $(this).closest('form').submit();
            });



            $('.openmodel').on("click", function () {
                var email = $(this).data('id');
                console.log(email)
                $("#model-email").val(email);
            });
        });
    </script>
}