@model PizzaShop.Entity.ViewModel.PaginationViewModel<PizzaShop.Entity.ViewModel.CategoryListViewModel>
@{
    ViewData["Title"] = "Menu Page";
}



<div class="flex-grow-1 p-3 overflow-auto">
    <!-- header of table  -->
    <div class="d-flex align-items-center gap-2">
        <div id="item-modifier-toggle">
            <button class="btn" style="box-shadow: none;">
                <img src="img/menu-black.svg" height="30px" alt="">
            </button>
        </div>
        <h1 id="header">Items</h1>
    </div>
    <!-- search-add-item section  -->
    <div class="d-flex align-items-center justify-content-end">
        <div id="has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input class="form-control " type="search" placeholder="Search" name="search" id="searchCategoryList"
                        aria-label="Search">
        </div>
        <button type="button" class="btn deleteMultipleCategoryItems" data-bs-toggle="modal">
            <i class="bi bi-trash h5"></i>
        </button>
        <button type="button" class="btn" id="NewCategoryItemBtnForCategory" data-bs-toggle="modal" data-bs-target="#addCategoryItems">
            <i class="btn bg-primary bi bi-plus-square text-white">New Item</i>
        </button>
    </div>
    <!-- finish search-add-item section -->
    <!-- table  -->
    <div class="table-responsive " id="category-items">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="selectAll">
                        </div>
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">ItemType</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Available</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Any())
                {
                    foreach (var item in Model.Items)
                    {
                        <tr>
                            <td><input value="@item.CategoryItemId" data-categoryItem-id="@item.CategoryItemId" class="form-check-input main-checkbox row-checkbox deleteItemCheckbox" type="checkbox"></td>

                            <td class="d-flex gap-2 align-content-center">
                                <img src="~/images/dining-menu.png" alt="" height="25">
                                <p>@item.ItemName</p>
                            </td>
                            <td class="">
                                @if (item.ItemType == true)
                                {
                                    <img src="~/images/icons/vegan-icon.svg" height="20" width="20"  alt="Veg">
                                }
                                else
                                {
                                    <img src="~/images/icons/non-veg-icon.svg" height="20" width="20" alt="Non-veg">
                                }
                        </td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td class="text-center">
                            <div class="form-check form-switch">
                            <input class="form-check-input toggle-switch" type="checkbox" @(item.IsAvailable ? "checked" : "") disabled >
                            </div>
                        </td>
                        <td class="gap-3">
                            <button class="btn  edit-btn" data-item-id="@item.CategoryItemId" data-bs-toggle="modal" data-bs-target="#editModal"><i class="bi bi-pen"></i></button>
                            <button class="btn delete-btn" data-item-id="@item.CategoryItemId" data-bs-toggle="modal" data-bs-target="#deleteItemModal"><i class="bi bi-trash"></i></button>
                        </td>
                        </tr>
                    }
                    
                    <tr>
                        <td class="border-0" colspan="10">
                            <div class="d-flex align-content-center align-items-center justify-content-end">
                            <span>Items Per page: </span>
                            <div class="d-flex justify-content-end align-items-center w-25">
                                <div>
                                <select class="form-select ms-2 page-list" asp-for="PageSize" onchange="pagination()">
                                    <option value="2" selected="@((Model.PageSize == 2) ? "selected" : null)">2</option>
                                    <option value="5" selected="@((Model.PageSize == 5) ? "selected" : null)">5</option>
                                    <option value="10" selected="@((Model.PageSize == 10) ? "selected" : null)">10</option>
                                    <option value="15" selected="@((Model.PageSize == 15) ? "selected" : null)">15</option>
                                </select>
                                </div>
                                <div class="ms-3">
                                    <span>
                                        Showing 
                                        <span id="startUser">@((Model.CurrentPage - 1) * Model.PageSize + 1)</span> -
                                        <span id="endUser">@Math.Min(Model.CurrentPage * Model.PageSize, Model.TotalItems)</span> of
                                        <span id="totalUser">@Model.TotalItems</span>   
                                    </span>
                                </div>
                                <div class="m-2 ">
                                <button class="page-link btn" id="prev"  onclick="pageChange('prev')" @(Model.CurrentPage
                                                    == 1 ? "disabled" : "") aria-label="Previous" id="previous_page">
                               
                                <i class="fa-solid fa-backward" aria-hidden="true"></i>
                                </button>
                                </div>
                                <div class="m-2 ">
                                    <button class="page-link btn" id="next" onclick="pageChange('next')" @((Model.CurrentPage
                                                    *Model.PageSize >= Model.TotalItems) ? "disabled" : "") aria-label="Next" id="next_page">
                                        <i class="fa-solid fa-forward" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="7">No items found for this Category.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@* Model start*@

@* delete items *@
<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="deleteForm">
                <div class="modal-body d-flex align-items-center justify-content-center flex-column">
                    <div>
                        <img src="~/images/toppng.com-warning-icon-2400x2400.png" height="50px" width="50px" alt="">
                    </div>
                    <p>Are you sure you want to delete <strong id="deleteItemName"></strong>?</p>
                    <input type="text" id="deleteItemId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* edit Category Items *@

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" method="POST">
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select class="form-select" id="editId"
                                                    aria-label="Floating label select example" disabled>
                                                </select>
                                                <label for="editId">Categories*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="editItemName"
                                                    placeholder="Name*">
                                                <label for="editItemName">Name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select class="form-select" id="itemType"
                                                    aria-label="Floating label select example">
                                                    <option value="true">Veg</option>
                                                    <option value="false">Non-veg</option>
                                                </select>

                                                <label for="itemType">Item Type*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="editPrice"
                                                    placeholder="Rate" value="0">
                                                <label for="editPrice">Rate*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="editQuantity"
                                                    placeholder="Quantity" value="0">
                                                <label for="editQuantity">Quantity*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating">
                                                <select class="form-select" id="editUnitId"
                                                    aria-label="Floating label select example">
                                                </select>
                                                <label for="editUnitId">Unit*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex align-items-center justify-content-center">
                                            <h5>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="available">
                                                    <label class="form-check-label" for="available">Available</label>
                                                </div>

                                        </div>
                                        <div class="col d-flex align-items-center justify-content-center">
                                            <h5>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="tax">
                                                    <label class="form-check-label" for="tax">Default
                                                        Tax</label>
                                                </div>
                                            </h5>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="taxpercentage"
                                                    placeholder="Tax Percentage">
                                                <label for="taxpercentage">Tax
                                                    Percentage </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="code"
                                                    placeholder="Short Code">
                                                <label for="code">Short
                                                    Code</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="editDescription" style="height: 100px"></textarea>
                                            <label for="editDescription"> Description</label>
                                        </div>
                                    </div>
                                    <div class="row ms-1">
                                        <h6>Upload Image</h6>
                                        <div class="border form-control ">
                                            <label for="formfile"
                                                class="form-label d-flex gap-2 justify-content-center align-items-center pt-3 ">
                                                <h3><i class="bi bi-cloud-arrow-up-fill"></i>
                                                </h3>
                                                <img src="images/cloud-upload-icon.svg" alt="">
                                                <span class="pb-2">
                                                    Drag and Drop or Browse
                                                    Files
                                                </span>
                                            </label>
                                            <input type="file" class="form-control d-none" id="formfile">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 pt-3" style="background-color: antiquewhite; height: 428px; overflow: auto;">                              
                                    <div class="dropdown">
                                        <button class="btn mt-2 dropdown-toggle w-100 bg-white" type="button" id="EditSelectModifierInItem" data-bs-toggle="dropdown" aria-expanded="false">Select ModifierGroup </button>
                                        <ul class="dropdown-menu dropdown-checkboxes  w-100 ps-3 editModifierDropDown"></ul>
                                    </div>                                 
                                    <div id="editModifierContainer"></div> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Hidden field to store item ID -->
                    <input type="hidden" id="editItemId">

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>


@* Add Category Items *@

<div class="modal fade" id="addCategoryItems" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form id="addCategoryItemForm" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Add New Menu Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <select class="form-select" id="AddCategoryId"
                                                aria-label="Floating label select example">
                                            </select>
                                            <label for="AddCategoryId">Categories*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="addCategoryItemName"
                                                placeholder="Name*">
                                            <label for="addCategoryItemName">Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <select class="form-select" id="addItemType"
                                                aria-label="Floating label select example">
                                                <option value="true">Veg</option>
                                                <option value="false">Non-veg</option>
                                            </select>
                                            <label for="addItemType">Item Type*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="addRate" placeholder="Rate"
                                                value="0">
                                            <label for="addRate">Rate*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="addCategoryItemQuantity"
                                                placeholder="Quantity" value="0">
                                            <label for="addCategoryItemQuantity">Quantity*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <select class="form-select" id="addUnitId"
                                                aria-label="Floating label select example">
                                            </select>
                                            <label for="addUnitId">Unit*</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex align-items-center justify-content-center">
                                        <h5>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="addAvailable">
                                                <label class="form-check-label" for="addAvailable">Available</label>
                                            </div>

                                    </div>
                                    <div class="col d-flex align-items-center justify-content-center">
                                        <h5>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="addTax">
                                                <label class="form-check-label" for="addTax">Default
                                                    Tax</label>
                                            </div>
                                        </h5>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="taxpercentage"
                                                placeholder="Tax Percentage">
                                            <label for="taxpercentage">Tax
                                                Percentage </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="addCode"
                                                placeholder="Short Code">
                                            <label for="addCode">Short
                                                Code</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here"
                                            id="addCategoryItemDescription" style="height: 100px"></textarea>
                                        <label for="addCategoryItemDescription">Description</label>
                                    </div>
                                </div>
                                <div class="row ms-1">
                                    <h6>Upload Image</h6>
                                    <div class="border form-control ">
                                        <label for="formfile"
                                            class="form-label d-flex gap-2 justify-content-center align-items-center pt-3 ">
                                            <h3><i class="bi bi-cloud-arrow-up-fill"></i>
                                            </h3>
                                            <img src="images/cloud-upload-icon.svg" alt="">
                                            <span class="pb-2">
                                                Drag and Drop or Browse
                                                Files
                                            </span>
                                        </label>
                                        <input type="file" class="form-control d-none" id="formfile">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 pt-3" style="background-color: antiquewhite; height: 428px; overflow: auto;">                              
                                    <div class="dropdown">
                                          <button class="btn mt-2 dropdown-toggle w-100 bg-white" type="button" id="SelectModifierInItem" data-bs-toggle="dropdown" aria-expanded="false">Select ModifierGroup </button>
                                            <ul class="dropdown-menu dropdown-checkboxes  w-100 ps-3 addModifierDropDown"></ul>
                                    </div>                                 
                                <div id="modifierContainer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-white border border-primary"
                        data-bs-dismiss="modal">Cancel</button>
                </div>

                <input type="hidden" id="addItemId">
            </form>
        </div>
    </div>
</div>


@* delete multiple items *@

<div class="modal fade" id="deleteMultipleItems" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="deleteMultipleItemForm">
                <div class="modal-body d-flex align-items-center justify-content-center flex-column">
                    <div>
                        <img src="~/images/toppng.com-warning-icon-2400x2400.png" height="50px" width="50px" alt="">
                    </div>
                    <p>Are you sure you want to delete?</p>
                    <div id="arrayResult" hidden></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* model end *@


@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@

<script>
            var canAddEdit = '@Context.Items["CanAddEdit"]';
        if (canAddEdit === 'False') {

            document.querySelectorAll('.edit-btn, #NewCategoryItemBtnForCategory').forEach(button => {
            button.disabled = true;
            });
        }
        var canDelete = '@Context.Items["CanDelete"]';
        if (canDelete) {
            document.querySelectorAll('.delete-btn, .deleteMultipleCategoryItems').forEach(button => {
            button.disabled = true;
            });
        }
    

// Function to load modifier groups
function loadModifierGroups() {
    $.ajax({
        url: '/Menu/GetAllModifier',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            console.log("Response Data:", data);

            const dropdownMenu = document.querySelector('.addModifierDropDown');
            data.forEach(modifier => {
                const listItem = document.createElement('li');
                listItem.innerHTML = `
                    <div class="form-check">
                        <input class="form-check-input modifier-checkbox" type="checkbox" value="${modifier.modifierGroupId}" id="checkbox-${modifier.modifierGroupId}">
                        <label class="form-check-label" for="checkbox-${modifier.modifierGroupId}">
                            ${modifier.modifierName} 
                        </label>
                    </div>`;
                dropdownMenu.appendChild(listItem);
            });
        },
        error: function (xhr, status, error) {
            console.error("AJAX Error:", status, error);
            $("#SelectModifierInItem").html('<option value="-1">Failed to load categories</option>');
        }
    });
}

// Adding change event listener with ID-based selection
document.addEventListener('change', function (event) {
    if (event.target.classList.contains('modifier-checkbox')) {
        let checkbox = event.target; // No need for jQuery
        let modifierId = checkbox.value;
        let modifierName = document.querySelector(`label[for='${checkbox.id}']`).textContent.trim();

        if (checkbox.checked) {
            console.log("Adding Modifier:", modifierId, modifierName);
            selectedModifierGroups.push({ id: modifierId, name: modifierName });
            addModifierSection(modifierId, modifierName);
        } else {
            removeModifierGroup(modifierId);
        }
    }
});

// Event delegation for delete-group button
document.addEventListener('click', function (event) {
    if (event.target.closest(".delete-group")) {
        let button = event.target.closest(".delete-group");
        let modifierId = button.getAttribute("data-group-id");

        console.log("Deleting Modifier Group:", modifierId);

        // Update the checkbox state and remove the group
        let checkbox = document.querySelector(`.modifier-checkbox[value='${modifierId}']`);
        if (checkbox) {
            checkbox.checked = false;
        }
        removeModifierGroup(modifierId);
    }
});

// Function to remove modifier group
function removeModifierGroup(modifierId) {
    console.log("Removing Modifier:", modifierId);
    selectedModifierGroups = selectedModifierGroups.filter(m => m.id !== modifierId);
    const groupElement = document.querySelector(`#group-${modifierId}`);
    if (groupElement) {
        groupElement.remove();
    }
}

// Function to add a modifier section
function addModifierSection(modifierId, modifierName) {
    console.log("Adding Modifier Section:", modifierId, modifierName);

    $.ajax({
        url: "/Menu/GetModifierItemDetails",
        type: "GET",
        dataType: "json",
        data: { modifierGroupId: modifierId },
        success: function (data) {
            let htmlContent = `
                <div class="modifier-group-container mt-3" id="group-${modifierId}">
                    <div class="modifier-group-header d-flex justify-content-between">
                        <div>
                            <strong>${modifierName}</strong>
                            <select class="modifier-qty form-select" id="MinimumValue">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div>
                            <button class="delete-group btn" data-group-id="${modifierId}">
                                <i class="bi bi-trash"></i>
                            </button>
                            <select class="modifier-qty form-select" id="MaximumValue">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="modifier-items">
                    `

                        data.forEach(modifier => {
                            htmlContent += 
                            `<div class="modifier-item d-flex justify-content-between">
                                <div>${modifier.modifierItemName}</div>
                                <div>
                                <span class="modifier-price">₹${modifier.rate}</span>
                                </div>
                            </div>`;
                        });

                        htmlContent += 
                    `</div>
                </div>`;
            document.querySelector("#modifierContainer").insertAdjacentHTML('beforeend', htmlContent);
        },
        error: function () {
            alert("Error loading modifiers.");
        }
    });
}

// Load modifier groups on page load
    loadModifierGroups();

        function editLoadModifierGroups() {
            $.ajax({
                url: '/Menu/GetAllModifier',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log("Response Data:", data);

                    const dropdownMenu = document.querySelector('.editModifierDropDown');
                    data.forEach(modifier => {
                        const listItem = document.createElement('li');
                        listItem.innerHTML = `
                            <div class="form-check">
                                <input class="form-check-input modifier-checkbox" type="checkbox" value="${modifier.modifierGroupId}" id="checkbox-${modifier.modifierGroupId}">
                                <label class="form-check-label" for="checkbox-${modifier.modifierGroupId}">
                                    ${modifier.modifierName} 
                                </label>
                            </div>`;
                        dropdownMenu.appendChild(listItem);
                    });
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error:", status, error);
                    $("#EditSelectModifierInItem").html('<option value="-1">Failed to load categories</option>');
                }
            });
        }

    editLoadModifierGroups();

    $('#searchCategoryList').on('search', function() {
        search = $(this).val();  
        fetchCategoryItems(currentCategoryId, currentPage, pageSize, search); 
    });
    function pagination() {
        var value =parseInt($("#PageSize").val());
        pageSize = value;
        let totalPages = Math.ceil(@Model.TotalItems / pageSize);
        if (currentPage > totalPages) {
            currentPage = totalPages > 0 ? totalPages : 1;
        }
        fetchCategoryItems(currentCategoryId,currentPage,pageSize,search);
    }

    function pageChange(pageAction) {

        if (pageAction == 'prev') {
            currentPage = currentPage === 1 ? 1 : --currentPage;
        }
        else {
            currentPage = (currentPage * pageSize) > @Model.TotalItems ? currentPage : ++currentPage;
        }
        fetchCategoryItems(currentCategoryId, currentPage, pageSize, search);
    }


    
function editModifierSection(SelectedModifiers) {

    console.log("Adding Modifier Section:", SelectedModifiers);
    for (let i = 0; i < SelectedModifiers.length; i++) {
        const modifierId = SelectedModifiers[i].modifierId;
        const modifierName = SelectedModifiers[i].modifierGroupName;

        let htmlContent = `
            <div class="modifier-group-container mt-3" id="group-${modifierId}">
                <div class="modifier-group-header d-flex justify-content-between">
                    <div>
                        <strong>${modifierName}</strong>
                        <select class="modifier-qty form-select" id="MinimumValue">
                            <option value="0" ${SelectedModifiers[i].minValue == 0 ? "selected" : ""}>0</option>
                            <option value="1"  ${SelectedModifiers[i].minValue == 1 ? "selected" : ""}>1</option>
                            <option value="2"  ${SelectedModifiers[i].minValue == 2 ? "selected" : ""}>2</option>
                            <option value="3"  ${SelectedModifiers[i].minValue == 3 ? "selected" : ""}>3</option>
                        </select>
                    </div>
                    <div>
                        <button class="delete-group btn" data-group-id="${modifierId}">
                            <i class="bi bi-trash"></i>
                        </button>
                        <select class="modifier-qty form-select" value = ${SelectedModifiers[i].maxValue} id="MaximumValue">
                            <option value="0" ${SelectedModifiers[i].maxValue == 0 ? "selected" : ""}>0</option>
                            <option value="1"  ${SelectedModifiers[i].maxValue == 1 ? "selected" : ""}>1</option>
                            <option value="2"  ${SelectedModifiers[i].maxValue == 2 ? "selected" : ""}>2</option>
                            <option value="3"  ${SelectedModifiers[i].maxValue == 3 ? "selected" : ""}>3</option>
                        </select>
                    </div>
                </div>
            </div>
            @* <div class="modifier-items">`
                    ${generateModifierItemsHtml(SelectedModifiers[i].modifierItems)};
                    </div>`; *@
        `;
        document.querySelector("#editModifierContainer").insertAdjacentHTML("beforeend", htmlContent);
    }
}

       @* // Generate HTML for modifier items
        function generateModifierItemsHtml(items) {
            return items.map(item => `
        <div class="modifier-item d-flex justify-content-between">
            <div>${item.modifierName}</div>
            <div><span class="modifier-price">₹${item.rate}</span></div>
        </div>`
            ).join('');
        } *@
    $(document).ready(function () {       
        
        $('#deleteForm').submit(function (e) {
            e.preventDefault();

            var itemId = $('#deleteItemId').val();
            var itemName = $('#deleteItemName').val();

            // Send data to the server using AJAX
            $.ajax({
                url: '/Menu/DeleteCategoryItem',
                type: 'POST',
                data: { itemId: itemId },
                success: function (response) {
                    // Handle success
                    if (response == true) {
                        $('#deleteItemModal').modal('hide');
                        @* $("#deleteItemModal").hide(); *@

                        location.reload();
                    } else {
                        $('#deleteItemModal').modal('hide');
                        @* $("#deleteItemModal").hide(); *@
                        location.reload();
                    }
                },
                error: function () {
                    alert('Error updating item.');
                }
            });
        });

        $(document).on('click', '.edit-btn', function () {
            var itemId = $(this).data('item-id');
            $.ajax({
                url: '/Menu/GetItemDetails',
                type: 'GET',
                data: { itemId: itemId },
                success: function (data) {
                    $('#editItemId').val(data.categoryItemId);
                    $('#editId').val(data.categoryId);
                    $('#editUnitId').val(data.unitId);
                    $('#editItemName').val(data.itemName);
                    $('#editDescription').val(data.description);
                    $('#editQuantity').val(data.quantity);
                    $('#editPrice').val(data.price);
                    $('#itemType').val(data.itemType.toString());
                    $('#available').prop('checked', data.isAvailable);
                    $('#tax').prop('checked', data.defaultTax);
                    $('#code').val(data.shortCode);
                    $('#editModal').modal('show');

                    selectedModifiers = data.selectedModifiers;
                    editModifierSection(selectedModifiers);
                },
                error: function (error) {
                    console.error('Error fetching item details:', error);
                }
            });
        });

        $.ajax({
            url: '/Menu/GetCategory',
            type: 'GET',
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select Category</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].categoryId + '">' + data[i].categoryName + '</option>'
                }
                $("#editId").html(s);
            }
        });

        $.ajax({
            url: '/Menu/GetUnitList',
            type: 'GET',
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select Unit</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].unitId + '">' + data[i].unitName + '</option>'
                }
                $("#editUnitId").html(s);
            }
        });

        $('#editForm').submit(function (e) {
            e.preventDefault();

            var itemId = $('#editItemId').val();
            var categoryId = $('#editId').val();
            var itemName = $('#editItemName').val();
            var description = $('#editDescription').val();
            var quantity = $('#editQuantity').val();
            var price = $('#editPrice').val();
            var unitId = $('#editUnitId').val();
            var itemType = $('#itemType').val();
            var isAvailable = $('#available').prop('checked');
            var defaultTax = $('#tax').prop('checked');
            var shortCode = $('#code').val();


            var formData = {
                CategoryItemId: itemId,
                CategoryId: categoryId,
                ItemName: itemName,
                Description: description,
                Quantity: quantity,
                Price: price,
                UnitId: unitId,
                ItemType: itemType,
                IsAvailable: isAvailable,
                DefaultTax: defaultTax,
                ShortCode: shortCode
            };

            // Send data to the server using AJAX
            $.ajax({
                url: '/Menu/UpdateCategoryItem',
                type: 'POST',
                data: formData,
                success: function (response) {
                    // Handle success
                    if (response) {
                        $('#editModal').modal('hide');
                        location.reload();
                        @* $("#editModal").hide(); *@
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error updating item.');
                }
            });
        });

        $.ajax({
            url: '/Menu/GetCategory',
            type: 'GET',
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select Category</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].categoryId + '">' + data[i].categoryName + '</option>'
                }
                $("#AddCategoryId").html(s);
            }
        });
        $.ajax({
            url: '/Menu/GetUnitList',
            type: 'GET',
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select Unit</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].unitId + '">' + data[i].unitName + '</option>'
                }
                $("#addUnitId").html(s);
            }
        });

        $('#addCategoryItemForm').submit(function (e) {
            e.preventDefault();

            const selectedModifiers = [];
            document.querySelectorAll('#modifierContainer .modifier-group-container').forEach(element => {
                const modifierId = element.id.replace('group-', '');
                const minValue = element.querySelector('#MinimumValue').value; // Get the minimum value
                const maxValue = element.querySelector('#MaximumValue').value; // Get the maximum value
                selectedModifiers.push({
                    ModifierId: modifierId,
                    MinValue: parseInt(minValue, 10), // Ensure values are integers
                    MaxValue: parseInt(maxValue, 10),}); // Push modifier ID into array
             });
            console.log(selectedModifiers);

            var itemId = $('#addItemId').val();
            var categoryId = $('#AddCategoryId').val();
            var itemName = $('#addCategoryItemName').val();
            var itemType = $('#addItemType').val();
            var price = $('#addRate').val();
            var quantity = $('#addCategoryItemQuantity').val();
            var unitId = $('#addUnitId').val();
            var isAvailable = $('#addAvailable').prop('checked');
            var defaultTax = $('#addTax').prop('checked');
            var shortCode = $('#addCode').val();
            var description = $('#addCategoryItemDescription').val();

            var formData = {
                CategoryItemId: itemId,
                CategoryId: categoryId,
                ItemName: itemName,
                Description: description,
                Quantity: quantity,
                Price: price,
                UnitId: unitId,
                ItemType: itemType,
                IsAvailable: isAvailable,
                DefaultTax: defaultTax,
                ShortCode: shortCode
            };
                if (selectedModifiers && selectedModifiers.length > 0) {
                formData["SelectedModifiers"] = selectedModifiers; // Safely append modifiers
                }

            // Send data to the server using AJAX
            $.ajax({
                url: '/Menu/AddCategoryItem',
                type: 'POST',
                data: formData,
                success: function (response) {
                    // Handle success
                    if (response.success) {
                        @* $('#addCategoryItems').modal('hide'); *@
                        $("#addCategoryItems").hide();
                        location.reload();
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error updating item.');
                }
            });
        });

        $('#selectAll').click(function () {
       
            if ($(this).prop('checked')) {
            $('.deleteItemCheckbox').prop('checked', true);
            } else {
            
            $('.deleteItemCheckbox').prop('checked', false);
            }
        });

        $('.deleteMultipleCategoryItems').click(function (){
            let selectedIds = [];

                $('.deleteItemCheckbox:checked').each(function(){
                    let id = $(this).data("categoryitem-id");
                    console.log(id);
                    selectedIds.push(id);
                });
            console.log(selectedIds);

            $.each(selectedIds, function(index,value){
                $("#arrayResult").append('<span class="deleteCategoryItemIds">' + value + '</span>')
            })
            $('#deleteMultipleItems').modal('show');
        });

        $("#deleteMultipleItemForm").submit(function (e) {
            e.preventDefault();


            var dataId = [];
            $('.deleteCategoryItemIds').each(function(){

                let ids =parseInt($(this).text());
                dataId.push(ids); 
            })
            console.log(dataId);

            var data1 = { "dataId": dataId}

            $.ajax({
                url: '/Menu/DeleteMultipleCategoryItem',
                type: 'POST',
                data: data1 ,
                success: function (response) {
                    // Handle success
                    if (response == true) {
                        $('#deleteMultipleItems').modal('hide'); 
                        location.reload();
                    } else {
                        $('#deleteMultipleItems').modal('hide');
                        location.reload();
                    }
                },
                error: function () {
                    alert('Error updating item.');
                }
            });

        }); 



    });
</script>