@model PizzaShop.Entity.ViewModel.MenuViewModel
<style>
    #scrollbar {
        height: 550px;
        overflow: auto;
    }

    .list-modGroup-item-action {
        font-size: 20px;
        color: black;
    }

    .list-modGroup-item-action #modifierBtn {
        visibility: hidden;
    }

    .list-modGroup-item-action:hover #modifierBtn {
        transition: all 0.8s ease-in-out;
        visibility: visible;
    }
</style>
<div class="row w-100">
    <div class=" d-block  rounded col-2"> <!-- style="width: 240px;" -->
        <div class=" pt-2 d-flex align-items-center justify-content-between mx-4 mb-2">
            <h4 id="category-header">Modifier</h4>
            <a class="btn blue-outline d-flex align-items-center" data-bs-target="#AddModifier" data-bs-toggle="modal">
                <h3><i class="bi bi-plus"></i></h3>
            </a>
        </div>
        <div id="scrollbar">
            <ul class="tab-nav d-flex flex-column gap-3 p-3" id="myTab" role="tablist" style="list-style-type: none;">
                @foreach (var item in Model.ModifierList)
                {
                    <li class="mb-2 parent d-flex gap-2 list-modGroup-item-action pt-3 pe-3 pb-3"
                        id="modifier-items-@item.ModifierGroupId">
                        <span class="modifier-item" data-modifier-id="@item.ModifierGroupId"
                            style="cursor: pointer;">@item.ModifierName</span>
                        <div class="gap-1 d-flex notvisible" id="modifierBtn">
                            <button class="border-0" data-bs-toggle="modal" data-bs-target="#editModifierModal"
                                onclick="openEditModifierModal(@item.ModifierGroupId,'@item.ModifierName', '@item.Description')">
                                <i class="bi bi-pen  "></i></button>
                            <button class="border-0" data-bs-toggle="modal" data-bs-target="#deleteModifierModal"
                                onclick="openDeleteModifierModal(@item.ModifierGroupId,'@item.ModifierName')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </li>
                }
            </ul>

        </div>
    </div>
    <div class="col-10">
        <div id="modifierItems"></div>
    </div>
</div>




@* Modal Start *@

<form method="post" asp-action="AddModifier" asp-controller="Menu" id="addModifierGroupForm">
    <input type="hidden" name="selectedModifierName" id="selectedModifierName">
    <input type="hidden" name="selectedModifierIds" id="selectedModifierIds">
    <div class="modal fade" id="AddModifier" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Add Modifier Group</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" required placeholder="Name"
                                asp-for="ModifierName">
                            <label for="floatingInput">Name*</label>

                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                asp-for="DescriptionModifier"></textarea>
                            <label for="floatingTextarea">Description</label>
                        </div>
                        <button class="border border-0 bg-white mt-3 text-primary addExistingModifier-btn"
                            id="ExistingModifiers"> + Add
                            Existing Modifier <span id="selectedModifiersCount">(0)</span></button>
                        <div id="ExistingModifiersList"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="btnsubmit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="DeleteModifier" asp-controller="Menu">

    <input type="hidden" id="deleteModifierGroupId" asp-for="ModifierGroupId">

    <div class="modal fade" id="deleteModifierModal" data-bs-backdrop="delete" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="deleteBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteBackdropLabel">
                        Delete Confirmation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center flex-column ">
                    <div>
                        <img src="~/images/toppng.com-warning-icon-2400x2400.png" height="50px" width="50px" alt="">
                        <p> Are you sure you want to delete <span id="deleteModifierName"></span>?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="EditModifier" asp-controller="Menu">
    <input type="hidden" asp-for="ModifierGroupId" data-modifier-id="ModifierGroupId" id="editModifierGroupId">

    <div class="modal fade" id="editModifierModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Edit Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="ModifierName" id="editModifierName" required>
                        <label for="editModifierName">Name*</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" asp-for="DescriptionModifier"
                            id="editModifierDescription"></textarea>
                        <label for="editModifierDescription">Description</label>
                    </div>
                    <button class="border border-0 bg-white mt-3 text-primary AddExistingModifier-btn"
                        id="ExistingModifiers"> + Add
                        Existing Modifier <span id="selectedModifiersCount">(0)</span></button>
                    <div id="EditExistingModifiersList"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </div>
        </div>
    </div>
</form>

<div id="ExistingModifierModal"></div>


@* Modal End *@

<Script type="text/javascript">

    function openDeleteModifierModal(ModifierGroupId, ModifierName) {
        document.getElementById('deleteModifierGroupId').value = ModifierGroupId;
        document.getElementById('deleteModifierName').textContent = ModifierName;

    }

    function openEditModifierModal(ModifierGroupId, ModifierName, Description) {
        document.getElementById('editModifierGroupId').value = ModifierGroupId;
        document.getElementById('editModifierName').value = ModifierName;
        document.getElementById('editModifierDescription').textContent = Description;
        updateSelectedModifiersDisplayEdit(ModifierGroupId);
    }      
</Script>

<script>
    var currentPageModifier = 1;
    var pageSizeModifier = 5;
    var search = "";
    var currentModifierId = null;

    function fetchModifierItems(ModifierGroupId, currentPageModifier, pageSizeModifier) {

        $.ajax({
            url: '/Menu/ModifierItems',
            type: 'GET',
            data: {
                ModifierGroupId: ModifierGroupId,
                page: currentPageModifier,
                pageSize: pageSizeModifier,
                search: search,
            },
            success: function (data) {
                $("#modifierItems").html(data);
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error:", status, error);
                $('#modifierItems').html('<tr><td colspan="4">Error loading items.</td></tr>');
            }
        });

    }



    let tempSelectedModifiers = [];
    let selectedModifiers = [];


    function updateSelectedModifiersDisplay() {
        document.getElementById('selectedModifiersCount').textContent = `(${selectedModifiers.length})`;
        let selectedHtml = '';

        if (selectedModifiers.length > 0) {
            selectedHtml = '<p>Selected Modifiers:</p><ul class="d-flex flex-wrap gap-3">';
            selectedModifiers.forEach(item => {
                selectedHtml += `
                    <li class="d-flex border-2 border-dark me-2 p-2 gap-3" style="align-items: center; border: 1px solid #000; border-radius: 500px;">
                    ${item.name} 
                        <span class="removeModifier text-danger" data-item-id="${item.id}" style="cursor:pointer;"> X </span>
                    </li>`;
            });
            selectedHtml += '</ul>';
        } else {
            selectedHtml = '<p>No modifiers selected.</p>';
        }

        $('#ExistingModifiersList').html(`
            ${selectedHtml}
        `);

        $(document).on('click', '.removeModifier', function () {
            let itemId = $(this).data('item-id');
            selectedModifiers = selectedModifiers.filter(item => item.id !== itemId);
            tempSelectedModifiers = tempSelectedModifiers.filter(item => item.id !== itemId);

            updateSelectedModifiersDisplay();
        });
    }

    function updateSelectedModifiersDisplayEdit(ModifierGroupId) {
        $.ajax({

            url: '/Menu/allModifierItemsByModifierGroupId',
            type: 'GET',
            data: { ModifierGroupId: ModifierGroupId },
            success: function (data) {
                debugger
                let selectedHtml = '';
                if (data.length > 0) {
                    selectedHtml = '<p>Selected Modifiers:</p><ul class="d-flex flex-wrap gap-3">';
                    data.forEach(item => {
                        selectedHtml += `
                                <li class="d-flex border-2 border-dark me-2 p-2 gap-3" style="align-items: center; border: 1px solid #000; border-radius: 500px;">
                                ${item.modifierItemName} 
                                    <span class="removeModifier text-danger" data-item-id="${item.modifierItemId}" style="cursor:pointer;"> X </span>
                                </li>`;
                    });
                    selectedHtml += '</ul>';
                } else {
                    selectedHtml = '<p>No modifiers selected.</p>';
                }
                $('#EditExistingModifiersList').html(`
                        ${selectedHtml}
                    `);
                $('#selectedModifiersCount').text(`(${data.length})`);
                selectedModifiers = data.map(item => ({ id: item.modifierItemId, name: item.modifierItemName }));
                document.getElementById('selectedModifiersCount').textContent = `(${selectedModifiers.length})`;

                $(document).on('click', '.removeModifier', function () {
                    let itemId = $(this).data('item-id');
                    selectedModifiers = selectedModifiers.filter(item => item.modifierItemId !== itemId);
                    updateSelectedModifiersDisplayEdit();
                });

            },
            error: function (xhr, status, error) {
                debugger
                console.error("AJAX Error:", status, error, xhr);
            }
        });
    }


    $(document).on('change', ':checkbox', function () {

        let itemId = $(this).data('id');
        let itemName = $(this).data('name');

        if ($(this).is(':checked')) {
            if (!tempSelectedModifiers.some(item => item.id === itemId)) {
                tempSelectedModifiers.push({ id: itemId, name: itemName });
            }
        } else {
            tempSelectedModifiers = tempSelectedModifiers.filter(item => item.id !== itemId);
        }
    });

    $(document).on("submit", "#existingModifierItemForm", function (event) {
        event.preventDefault();
        selectedModifiers = [...tempSelectedModifiers];
        updateSelectedModifiersDisplay();
        $('#ExistingModifier').modal('hide');
    });

    $('#addModifierGroupForm').submit(function () {

        let selectedIds = selectedModifiers.map(item => item.id);
        let selectedNames = selectedModifiers.map(item => item.name);
        $('#selectedModifierIds').val(selectedIds.join(','));
        $('#selectedModifierName').val(selectedNames.join(','));
    });

    $(document).on('click', '#ExistingModifiers', function () {
        debugger
        $.ajax({
            url: '/Menu/ExistingModifierModelShow',
            type: 'GET',
            success: function (data) {

                $("#ExistingModifierModal").html(data);
                fetchExistingModifierList(currentPage, pageSize, search);
                $('#ExistingModifier').modal('show');
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error:", status, error, xhr);
            }
        });
    });
    $(document).ready(function () {

        // When a Modifier is clicked

        $('.modifier-item').click(function () {
            var ModifierGroupId = $(this).data('modifier-id');
            if (ModifierGroupId) {
                fetchModifierItems(ModifierGroupId, currentPageModifier, pageSizeModifier, search);
            } else {
                console.error("ModifierGroup ID is undefined.");
            }
        });
        const firstModifierLink = document.querySelector('.modifier-item');
        if (firstModifierLink) {

            const firstModifierId = firstModifierLink.getAttribute('data-modifier-id');
            currentModifierId = firstModifierId;
            fetchModifierItems(firstModifierId, currentPageModifier, pageSizeModifier, search);
        }

    });
</script>