@model PizzaShop.Entity.ViewModel.MenuViewModel
<style>
    #scrollbar {
        height: 550px;
        overflow: auto;
    }

    #modifier-items {
        font-size: 20px;
        color: black;
    }

    #modifier-items  #modifierBtn {
        visibility: hidden;
    }

    #modifier-items:hover #modifierBtn {
        transition: all 0.8s ease-in-out;
        visibility: visible;
    }
</style>
<aside class=" d-block  rounded "> <!-- style="width: 240px;" -->
    <div class=" pt-2 d-flex align-items-center justify-content-between mx-4 mb-2">
        <h4 id="category-header">Modifier</h4>
        <a class="btn blue-outline d-flex align-items-center" data-bs-target="#AddModifier" data-bs-toggle="modal">
            <h3><i class="bi bi-plus"></i></h3>
        </a>
    </div>
    <div id="scrollbar">
        <ul class="tab-nav d-flex flex-column gap-3 p-3" id="myTab" role="tablist" style="list-style-type: none;">
            @foreach (var item in Model.ModifierList)
            {
                <li class="mb-2 parent d-flex gap-2 list-group-item-action pt-3 pe-3 pb-3" id="modifier-items">
                    <span class="modifier-item" data-id="@item.ModifierGroupId"
                        style="cursor: pointer;">@item.ModifierName</span>
                    <div class="gap-1 d-flex notvisible" id="modifierBtn">
                        <button class="border-0" data-bs-toggle="modal" data-bs-target="#editModifierModal"
                            onclick="openEditModal(@item.ModifierGroupId,'@item.ModifierName', '@item.Description')">
                            <i class="bi bi-pen  "></i></button>
                        <button class="border-0" data-bs-toggle="modal" data-bs-target="#deleteModifierModal"
                            onclick="openDeleteModal(@item.ModifierGroupId,'@item.ModifierName')">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </li>
            }
        </ul>

    </div>
</aside>
<div class="flex-grow-1 p-3 overflow-auto">
    <!-- header of table  -->
    <div class="d-flex align-items-center gap-2">
        <div id="item-modifier-toggle">
            <button class="btn" style="box-shadow: none;">
                <img src="img/menu-black.svg" height="30px" alt="">
            </button>
        </div>
        <h1 id="header">Items</h1>
    </div>
    <!-- search-add-item section  -->
    <div class="d-flex align-items-center justify-content-end">
        <div class="search-div">
            <input class="me-2 input-search px-2 " type="search" placeholder="Search">
            <span class="search-icon">
                <i class="bi bi-search"></i>
            </span>
        </div>
        <a href="" class="btn d-flex justify-content-center " data-bs-target="#model-delete" data-bs-toggle="modal">
            <i class="bi bi-trash h5"></i></a>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addModifierItem">
            <i class="btn bg-primary bi bi-plus-square text-white">New Modifier</i>
        </button>
    </div>
    <!-- finish search-add-item section -->
    <!-- table  -->
    <div class="table-responsive " id="modifier-items">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="selectAll">
                        </div>
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="modifierItemsTable">

            </tbody>
        </table>
    </div>
    <!-- pagination  -->

    <!-- finish pagination  -->
</div>



@* Modal Start *@

<form method="post" asp-action="AddModifier" asp-controller="Menu">
    <div class="modal fade" id="AddModifier" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Add Modifier Group</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" required placeholder="Name"
                                asp-for="ModifierName">
                            <label for="floatingInput">Name*</label>

                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                asp-for="DescriptionModifier"></textarea>
                            <label for="floatingTextarea">Description</label>
                        </div>
                        <button class="border border-0 bg-white mt-3 text-primary addExistingModifier-btn"> + Add
                            Existing Modifier</button>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="btnsubmit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="DeleteModifier" asp-controller="Menu">

    <input type="hidden" id="deleteModifierGroupId" asp-for="ModifierGroupId">

    <div class="modal fade" id="deleteModifierModal" data-bs-backdrop="delete" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="deleteBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteBackdropLabel">
                        Delete Confirmation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center flex-column ">
                    <div>
                        <img src="~/images/toppng.com-warning-icon-2400x2400.png" height="50px" width="50px" alt="">
                        <p> Are you sure you want to delete <span id="deleteModifierName"></span>?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="EditModifier" asp-controller="Menu">
    <input type="hidden" asp-for="ModifierGroupId" id="editModifierGroupId">

    <div class="modal fade" id="editModifierModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Edit Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="ModifierName" id="editModifierName" required>
                        <label for="editModifierName">Name*</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" asp-for="DescriptionModifier"
                            id="editModifierDescription"></textarea>
                        <label for="editModifierDescription">Description</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

@* add modifier item *@
<div class="modal fade" id="addModifierItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form id="addItemForm" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Add New Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <select class="form-select" aria-label="Floating label select example"
                                                id="addModifierId">
                                            </select>
                                            <label for="addModifierId">Modifier Group*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="addModifierItemName"
                                                placeholder="Name*">
                                            <label for="addModifierItemName">Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="addModifierItemRate"
                                                placeholder="Rate" value="0">
                                            <label for="addModifierItemRate">Rate*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="addModifierQuantity"
                                                placeholder="Quantity" value="0">
                                            <label for="addModifierQuantity">Quantity*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <select class="form-select" aria-label="Floating label select example"
                                                id="addModifierUnitId">
                                            </select>
                                            <label for="addModifierUnitId">Unit*</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here"
                                            id="addModifierItemDescription" style="height: 100px"></textarea>
                                        <label for="addModifierItemDescription">Description</label>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-white border border-primary"
                        data-bs-dismiss="modal">Cancel</button>
                </div>

                <input type="hidden" id="addItemId">
            </form>
        </div>
    </div>
</div>

@* delete modifier item *@
<div class="modal fade" id="deleteModifierItemModal" tabindex="-1" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="deleteModifierItemForm">
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong id="deleteModifierItemName"></strong>?</p>
                    <input type="text" id="deleteModifierItemId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* edit modifier item *@
<div class="modal fade" id="editModifierItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form id="editItemForm" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Edit ModifierItem</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <select class="form-select" aria-label="Floating label select example"
                                                id="editModifierId" disabled>
                                            </select>
                                            <label for="editModifierId">Modifier Group*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="editModifierItemName"
                                                placeholder="Name*">
                                            <label for="editModifierItemName">Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="editRate" placeholder="Rate"
                                                value="0">
                                            <label for="editRate">Rate*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="editModifierQuantity"
                                                placeholder="Quantity" value="0">
                                            <label for="editModifierQuantity">Quantity*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <select class="form-select" aria-label="Floating label select example"
                                                id="editModifierUnitId">
                                            </select>
                                            <label for="editModifierUnitId">Unit*</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here"
                                            id="editModifierItemDescription" style="height: 100px"></textarea>
                                        <label for="editModifierItemDescription">Description</label>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-white border border-primary"
                        data-bs-dismiss="modal">Cancel</button>
                </div>

                <input type="hidden" id="editItemId">
            </form>
        </div>
    </div>
</div>

@* add existing modifier  *@
<div class="modal fade" id="ExistingModifier" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <form method="post" id="existingModifierItemForm">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Select Existing Modifier </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="responsive-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input id="selectModifierAll" class="form-check-input main-checkbox"
                                            type="checkbox"></th>
                                    <th>Name</th>
                                    <th>Unit</th>
                                    <th>Rate</th>
                                    <th>Quantity</th>

                                </tr>
                            </thead>
                            <tbody id="ExistingModifierItems">
                                
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-white border border-primary"
                        data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>
        </div>
        <input type="hidden" id="addItemId">
    </div>
</div>



@* Modal End *@


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>


<Script type="text/javascript">

    function openDeleteModal(ModifierGroupId, ModifierName) {
        document.getElementById('deleteModifierGroupId').value = ModifierGroupId;
        document.getElementById('deleteModifierName').textContent = ModifierName;

        var deleteModifierModel = new bootstrap.Model(document.getElementById('deleteModifierModal'));
        deleteModifierModel.show();
    }

    function openEditModal(ModifierGroupId, ModifierName, Description) {
        document.getElementById('editModifierGroupId').value = ModifierGroupId;
        document.getElementById('editModifierName').value = ModifierName;
        document.getElementById('editModifierDescription').textContent = Description;

        var editModel = new bootstrap.Model(document.getElementById('editModifierModal'));
        editModel.show();
    }      
</Script>

<script>

    $(document).ready(function () {

        // When a Modifier is clicked
        $('.modifier-item').click(function () {
            var ModifierGroupId = $(this).data('id');
            if (ModifierGroupId) {
                fetchModifierItems(ModifierGroupId);
            } else {
                console.error("ModifierGroup ID is undefined.");
            }
        });
        function fetchModifierItems(ModifierGroupId) {
            $.ajax({
                url: '/Menu/ModifierItems',
                type: 'GET',
                data: { ModifierGroupId: ModifierGroupId },
                success: function (data) {
                    if (data && data.length > 0) {
                        var itemsHtml = '';

                        $.each(data, function (index, item) {
                            itemsHtml += '<tr>';
                            itemsHtml += '<td><input type="checkbox" class="item-checkbox" data-id="' + item.modifierItemId + '"></td>';
                            itemsHtml += '<td>' + item.modifierItemName + '</td>';
                            itemsHtml += '<td>' + item.unitName + '</td>';
                            itemsHtml += '<td>' + item.rate + '</td>';
                            itemsHtml += '<td>' + item.quantity + '</td>';
                            itemsHtml += '<td>';
                            itemsHtml += '<button class="btn btn-warning btn-sm editModifier-btn" data-modifierItem-id="' + item.modifierItemId + '">Edit</button> ';
                            itemsHtml += '<button class="btn btn-danger btn-sm deleteModifier-btn" data-modifierItem-id= "' + item.modifierItemId + '" " data-item-name="' + item.modifierItemName + '">Delete</button>';
                            itemsHtml += '</td>';
                            itemsHtml += '</tr>';
                        });
                        $('#modifierItemsTable').html(itemsHtml);
                    } else {
                        $('#modifierItemsTable').html('<tr><td colspan="4">No items available for this Modifier.</td></tr>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error:", status, error);
                    $('#modifierItemsTable').html('<tr><td colspan="4">Error loading items.</td></tr>');
                }
            });
        }

        $(document).on('click', '.editModifier-btn', function () {
            var itemId = $(this).data('modifieritem-id');
            $.ajax({
                url: '/Menu/GetModifierItemDetails',
                type: 'GET',
                data: { itemId: itemId },
                success: function (data) {
                    $('#editItemId').val(data.modifierItemId);
                    $('#editModifierId').val(data.modifierGroupId);
                    $('#editModifierUnitId').val(data.unitId);
                    $('#editModifierItemName').val(data.modifierItemName);
                    $('#editModifierItemDescription').val(data.description);
                    $('#editModifierQuantity').val(data.quantity);
                    $('#editRate').val(data.rate);
                    $('#editModifierItem').modal('show');
                },
                error: function (error) {
                    console.error('Error fetching item details:', error);
                }
            });
        });
        $.ajax({
            url: '/Menu/GetModifier',
            type: 'GET',
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select Modifier</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].modifierGroupId + '">' + data[i].modifierName + '</option>'
                }
                $("#editModifierId").html(s);
            }
        });
        $.ajax({
            url: '/Menu/GetUnitList',
            type: 'GET',
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select Unit</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].unitId + '">' + data[i].unitName + '</option>'
                }
                $("#editModifierUnitId").html(s);
            }
        });

        $('#editItemForm').submit(function (e) {
            e.preventDefault();

            var modifierItemId = $('#editItemId').val();
            var modifierGroupId = $('#editModifierId').val();
            var unitId = $('#editModifierUnitId').val();
            var modifierItemName = $('#editModifierItemName').val();
            var description = $('#editModifierItemDescription').val();
            var quantity = $('#editModifierQuantity').val();
            var rate = $('#editRate').val();


            var formData = {
                ModifierItemId: modifierItemId,
                ModifierGroupId: modifierGroupId,
                ModifierItemName: modifierItemName,
                Description: description,
                Quantity: quantity,
                UnitId: unitId,
                Rate: rate,
            };

            // Send data to the server using AJAX
            $.ajax({
                url: '/Menu/UpdateModifierItem',
                type: 'POST',
                data: formData,
                success: function (response) {
                    // Handle success
                    if (response.success) {
                        $('#editModifierUnitId').modal('hide');
                        location.reload();
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error updating item.');
                }
            });
        });

        $(document).on('click', '.deleteModifier-btn', function () {
            var ModifierItemId = $(this).data('modifieritem-id');
            var ModifierItemName = $(this).data('item-name');
            $('#deleteModifierItemName').text(ModifierItemName);
            $('#deleteModifierItemId').val(ModifierItemId);

            $('#deleteModifierItemModal').modal('show');;
        });

        $('#deleteModifierItemForm').submit(function (e) {
            e.preventDefault();

            var ModifierItemId = $('#deleteModifierItemId').val();
            var ModifierItemName = $('#deleteModifierItemName').val();

            // Send data to the server using AJAX
            $.ajax({
                url: '/Menu/DeleteModifierItem',
                type: 'POST',
                data: { ModifierItemId: ModifierItemId },
                success: function (response) {
                    // Handle success
                    if (response == true) {
                        $('#deleteModifierItemModal').modal('hide');
                        location.reload();
                    } else {
                        $('#deleteModifierItemModal').modal('hide');
                        location.reload();
                    }
                },
                error: function () {
                    alert('Error updating item.');
                }
            });
        });

        $.ajax({
            url: '/Menu/GetModifier',
            type: 'GET',
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select Modifier</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].modifierGroupId + '">' + data[i].modifierName + '</option>'
                }
                $("#addModifierId").html(s);
            }
        });
        $.ajax({
            url: '/Menu/GetUnitList',
            type: 'GET',
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select Unit</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].unitId + '">' + data[i].unitName + '</option>'
                }
                $("#addModifierUnitId").html(s);
            }
        });

        $('#addItemForm').submit(function (e) {
            e.preventDefault();
            var modifierItemId = $('#addItemId').val();
            var modifierGroupId = $('#addModifierId').val();
            var unitId = $('#addModifierUnitId').val();
            var modifierItemName = $('#addModifierItemName').val();
            var description = $('#addModifierItemDescription').val();
            var quantity = $('#addModifierQuantity').val();
            var rate = $('#addModifierItemRate').val();


            var formData = {
                ModifierItemId: modifierItemId,
                ModifierGroupId: modifierGroupId,
                ModifierItemName: modifierItemName,
                Description: description,
                Quantity: quantity,
                UnitId: unitId,
                Rate: rate,
            };

            // Send data to the server using AJAX
            $.ajax({
                url: '/Menu/AddModifierItem',
                type: 'POST',
                data: formData,
                success: function (response) {
                    // Handle success
                    if (response.success) {
                        $('#editModifierUnitId').modal('hide');
                        location.reload();
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error updating item.');
                }
            });
        });

        $(document).on('click', '.addExistingModifier-btn', function () {
            debugger;
            fetchExistingModifierList();
        });
        function fetchExistingModifierList(){
            
            $.ajax({
                url: '/Menu/GetALLModifierItemDetails',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    var itemsHtml = '';

                    $.each(data,function(index, item){
                        itemsHtml += '<tr>';
                        itemsHtml += '<td><input type="checkbox" class="item-checkbox" data-id="' + item.modifierItemId + '"></td>';
                        itemsHtml += '<td>' + item.modifierItemName + '</td>' ;
                        itemsHtml += '<td>' + item.unitId + '</td>' ;
                        itemsHtml += '<td>' + item.rate + '</td>' ;
                        itemsHtml += '<td>' + item.quantity + '</td>' ;
                        itemsHtml += '</tr>';
                    });
                    $('#ExistingModifierItems').html(itemsHtml);
                    $('#ExistingModifier').modal('show');

                },
                error: function (error) {
                    console.error('Error fetching item details:', error);
                }
            });
        }
    });
</script>